<?php
// $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
// /** @var \Magento\Catalog\Model\ResourceModel\Product\Collection $productCollection */
// $productCollection = $objectManager->create('Magento\Catalog\Model\ResourceModel\Product\Collection');
// /** Apply filters here */
// $collection = $productCollection->addAttributeToSelect('*')
//             ->load();

// foreach ($collection as $product){
//    print_r($product->getData());
//    die();
// }  
// $rma=$block->getRmaCollection();
// echo "<pre>";
// print_r($rma->getData());
// die();
$helperData = $this->helper('Aspl\Rmasystem\Helper\Data');
$countryList=$helperData->getCountries();
$regionList=$helperData->getRegion();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$objDate = $objectManager->create('Magento\Framework\Stdlib\DateTime\DateTime');
$date = date_create($objDate->gmtDate());
$date_create =date_format($date,"d-m-Y");
$dateformat = strtotime("1 day", strtotime($date_create));
$next_date = date("Y-m-d", $dateformat);
// echo $next_date;
// die();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$urlBuilder=$storeManager->getStore()->getBaseUrl();

?>

  <script>
      window.rmaDataConfig = <?= /* @noEscape */ \Zend_Json::encode($block->getRmaConfigData()); ?>;
  </script>
<div class="block">
    <div class="block-content">
    <form class="form"
        method="post"
        action="<?= /* @noEscape */ $block->getUrl('rmasystem/newrma/saverma/', ['_secure' => $block->getRequest()->isSecure()]); ?>"
        enctype="multipart/form-data" id="save_rma_form" data-mage-init='{"validation":{}}'>
        <div id="new-rma-component" data-bind="scope:'new-rma-component'" class="field">
            <!-- ko template: getTemplate() --><!-- /ko -->
            <script type="text/x-magento-init">
            {
                "#new-rma-component": {
                    "Magento_Ui/js/core/app":  <?= /* @noEscape */ $block->getJsLayout();?>
                }
            }
            </script>
            <div class="clear"></div>
                      <input type="hidden" value="<?= /* @noEscape */ $block->getFormKey() ?>" name="form_key"/>
                      <fieldset class="fieldset login" data-hasrequired="<?= /* @noEscape */ __('* Required Fields') ?>">
                        <!-- ko if: empty() == 1  -->
                        <div class="field wk-noitem no-display" data-bind="css: {'no-display': !empty()}">
                            <tr>
                                <td><?= /* @noEscape */ __('No item applicable for RMA generation.') ?></td>
                            </tr>
                        </div>
                        <!-- /ko -->
                        <!-- ko if: itemDetails().length > 0  -->
                        <div class="field">
                        </div>
                          <div class="field required account">
                              <label class="label"><span><?= /* @noEscape */ __("Items Ordered"); ?>:</span></label>
                              <div class="control table-wrapper rma-order-items">
                                  <table name="items" class="data table ko-grid" id="wk_rma_order_details">
                                      <thead>
                                          <tr>
                                              <th scope="col" class="col rma-select"><input data-bind="checked: checkAll" type="radio" class="wk-option-input" id="all_select"/></th>
                                              <th scope="col" class="col name" title="Product Name"><?= /* @noEscape */ __("Name"); ?></th>
                                              <th scope="col" class="col sku" title="Product SKU"><?= /* @noEscape */ __("SKU"); ?></th>
                                              
                                              <th scope="col" class="col qty" title="Product Quantity Ordered"><?= /* @noEscape */ __("Qty"); ?></th>
                                              <th scope="col" class="col price" title="Product Price"><?= /* @noEscape */ __("Price"); ?></th>
                                              <th scope="col" class="col rt-qty" title="Product Quantity Returning"><?= /* @noEscape */ __("Return Qty"); ?></th>
                                              <th scope="col" class="col reason" title="Reason"><?= /* @noEscape */ __("Reason"); ?></th>

                                          </tr>
                                      </thead>
                                      <tbody data-bind="template: { name: 'orderdetails-template', foreach: itemDetails }">
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <!-- /ko -->
                          
                        <script type="text/html" id="orderdetails-template">
                          <tr>

                            <!-- ko if: error === false -->
                            <!-- ko if: disabled === false -->
                                <td data-th="Select Item" class="col rma-select" class='wk_rma_check'>
                                  <input data-bind="value: itemid, checked: isSlected, attr: {'data-value': product_id, 'data-product_type': product_type,'name': 'item_checked['+itemid+']'}" type='radio' class='wk_rma_pro_check wk-option-input'/>
                                </td>
                              <!-- /ko -->
                              <!-- ko if: disabled === true -->
                                <td data-th="Select Item" class="col rma-select" class='wk_rma_check'></td>
                              <!-- /ko -->
                              <td data-th="Item Name" class="col name">
                                <div class="wk-pro-divide1">
                                  <img data-bind="attr: {'src': image}" style="float:left;margin-right:10px;" class="image" />
                                </div>
                                <div class="wk-pro-divide1">
                                  <a target='_blank' data-bind="attr: {'href':url}, text: name"></a>
                                </div>
                              </td>
                              <td data-th="Item SKU" class="col sku" data-bind="text: sku"></td>

                              <td data-th="Item Qty" class="col qty" data-bind="text: qty"></td>
                              <td data-th="Item Price" class="col price" data-bind="html: price" class='item_price'></td>
                              <!-- ko if: disabled === false -->
                                    <td data-th="Returning Qty" class="col rt-qty" class='a-right'><input type='number' data-bind="attr: {'name': 'return_item['+itemid+']', 'max':qty, 'min': 1, 'id': 'qty_'+itemid}" class='return_item'/></td>
                                    <td data-th="Reason" class="col reason">
                                        <select class='select item_reason' data-bind="attr: {'name': 'item_reason['+itemid+']', 'id': 'reason_'+itemid}">
                                            <option value=''><?= /* @noEscape */ __('Select Reason') ?></option>
                                            <?php $reason_coll = $block->getRegionCollection();
                                            foreach ($reason_coll as $reason): ?>
                                                    <option value="<?= /* @noEscape */ $reason->getId()?>"><?= /* @noEscape */ $reason->getReason(); ?></option>
                                            <?php endforeach; ?>
                                        </select>
                                    </td>
                              <!-- /ko -->
                              <!-- ko if: disabled === true -->
                                  <td class="return-filled" colspan="2"><?= /* @noEscape */ __('Return Request Already Sent.'); ?></td>
                              <!-- /ko -->
                            <!-- /ko -->
                            <!-- ko if: error === true -->
                              <td colspan='7'><?= /* @noEscape */ __('No order selected') ?></td>
                            <!-- /ko -->

                          </tr>
                        </script>
                        <div class="field image-field">
                        </div>
                        <div class="field image-field">
                            <label class="label"><span><?= /* @noEscape */ __("Related Images"); ?>:</span></label>
                            <button type="button" for="related_images" id="wk_rma_label_image" class="rma-image-button" data-bind="click: addImageBlock">
                                <span id="wk_rma_upload_icon"></span>
                                <span id="wk_rma_upload_text"><?= /* @noEscape */ __("Add Images"); ?></span>
                            </button>
                            <input type="hidden" name="total_images" data-bind="value: totalImages"/>
                            <div class="control" id="image_block">
                            </div>
                            <script type="text/html" id="rmaImageTemplate">
                            <div class="wk-showcase-block">
                                <div title="Delete Showcase" class="wk-delete-item" data-bind="click: deleteImage">x</div>
                                <div class="wk-default-block"><?= /* @noEscape */ __("Add Image") ?></div>
                                <input type="file" name="related_images[]" accept="image/*" class="wk-showcase-img wk-no-display" data-bind="event:{change: fileSelect}">
                            </div>
                            </script>
                        </div>

                        <div class="field required clear-section wk-delivery">
                            <label class="label"><span><?= /* @noEscape */ __("Product Delivery Status"); ?>:</span></label>
                            <div class="control">
                            <div class="control">
                                <select class="required-entry select"
                                        id="customer_delivery_status"
                                        data-validate="{required:true}"
                                        name="customer_delivery_status"
                                        data-bind="options: deliveryStatus,
                                            optionsText: 'label',
                                            optionsValue: 'value',
                                            value: selectedDelivery,
                                            optionsCaption: 'Select Delivery Status'"
                                        >
                                </select>
                            </div>
                            </div>
                        </div>
                            <!-- ko if: selectedDelivery() == 1 -->

                              <div class="field required clear-section">
                                  <label class="label"><span><?= /* @noEscape */ __("Package Condition"); ?>:</span></label>
                                  <div class="control">
                                      <select class="required-entry select" data-validate="{required:true}" title="<?= /* @noEscape */ __('Select Package Condition'); ?>" name="package_condition">
                                          <option value=""><?= /* @noEscape */ __("Select Package Condition"); ?></option>
                                          <option value="0"><?= /* @noEscape */ __("Open"); ?></option>
                                          <option value="1"><?= /* @noEscape */ __("Packed"); ?></option>
                                      </select>
                                  </div>
                              </div>
                              <!-- <div class="field required">
                                <label class="label"><span><?= /* @noEscape */ __("Enter Consignment Number"); ?>:</span></label>
                                    <div class="control">
                                        <input id="wk_rma_consignment_no" type="text" name="customer_consignment_no" data-validate="{required:true}" />
                                    </div>
                                </div> -->
                            <!-- /ko -->
                         
                          <div class="field">
                              <label class="label"><span><?= /* @noEscape */ __("Additional Information"); ?>:</span></label>
                              <div class="control">
                                  <textarea name="additional_info" id="wk_rma_additional_info"></textarea>
                              </div>
                          </div>
                           <div class="field">
                                 <label class="label"><span><?= /* @noEscape */ __("Pickup Date"); ?>:</span></label> 
                                
                                    <input type="date" name="pickupDate"
                                     id="pickupDate" 
                                    value="">
                                <!-- <input type="date" name="My_ID" id="My_ID">  -->
                           </div>
                      
                           <div class="field">
                                <div id="shippingicon" class="shippingicon">
                                 <a href="#" data-mage-init='{"myjs": {}}'  id="multishipping_btn" title ="<?php echo "select pickup address" ?>" data-toggle="modal" data-target="#myModal">
                                    select Pickup Address
                                </a>
                                </div> 
                                     
                                <div class="control">
                                      <textarea name="pickupAddress" id="wk_rma_address" value=""></textarea>
                                  </div>
                            </div>
                        <div class="field">
                          <div class="refunditem">
                            <?= /* @noEscape */ $block->getChildHtml('rma.newrma.customfield') ?>
                        </div>
                    </div>
                       
                          <!-- <div class="field">
                              <label class="label"><span><?= /* @noEscape */ __("Return Policy"); ?>:</span></label>
                              <div class="control">
                                  <div id="wk_rma_agreement_cntnt"><?= /* @noEscape */ $block->getPolicy(); ?></div>
                              </div>
                          </div> -->
                          <div class="field required">
                              <input name="agree" id="wk_i_agree" type="checkbox" class="wk_rma_checkall" data-validate="{required:true}"/>
                              <label class="label"><span><?= /* @noEscape */ __("I Agree"); ?>:</span></label>
                         </div>
                    <div class="buttons-set actions-toolbar">
                        <div class="primary">
                            <button id="wk_rma_button_submit" class="action save primary" title="<?= /* @noEscape */ __('Submit Request'); ?>" type="submit" data-bind="event: {click: saveRma}">
                                <span><?= /* @noEscape */ __("Submit Request"); ?></span>
                            </button>
                        </div>
                    </div>
                  <a href="<?= /* @noEscape */ $block->getUrl('rmasystem/index', ['_secure' => $block->getRequest()->isSecure()])?>">&laquo;<?= /* @noEscape */ __("back"); ?></a>
              </fieldset>
              </div>
          </form>
      </div>
    </div>

    <div class="modal fade" id="multishipment" role="dialog" style="display:none;">
        <div class="modaldialog">
            <div class="modalheader">
                <h4 class="modaltitle"><?php echo __('Pickup Address')?></h4>
            </div>
            <div class="modal-body">
                <div class="addresscollection" >
                    <?php
                        $i=0;
                        // if($customerData->isLoggedIn()) {
                         $addresses=$block->getCustomerAddress();
                            foreach ($addresses as $address)
                            {
                            ?>
                          <?php $customerAddress[] = $address->toArray();?>
                            <?php $address_id=$customerAddress[$i]['entity_id'];?>
                            <div class="columnAddress"  id="columnAddress_<?php echo $i."_".$address_id; ?>" width="100px" height="50px">
                                <div class="row">
                                    
                                    <div class="rowData">
                                        <img src="<?php
                                        echo $this->getViewFileUrl('Aspl_Rmasystem::images/editimg.png'); 
                                        ?>" width="20px" height="20px" class="editimage" id="editimage_<?php echo $address_id ?>">

                                        <input type="radio" id="multishipping_<?php echo $i; ?>" name="multishippping"class="multishipping"
                                               value="<?php echo $customerAddress[$i]['entity_id'].",".$i; ?>"  <?php
                                                // if($customerAddressId==$address_id){
                                                ?> checked=""
                                                
                                                <?php
                                               
                                                 // } 
                                             ?>>
                                       <label class="selecticon" for="multishipping_<?php  echo $i; ?>">
                                    </div>
                                    <div class="defaultaddress">
                                        <div class="name">
                                          <?php echo $customerAddress[$i]['firstname']." ".$customerAddress[$i]['lastname'].",";?>
                                        </div>

                                        <div class="street">
                                          <?php echo $customerAddress[$i]['street'].","; ?>
                                        </div>

                                        <div class="city">
                                            <?php echo $customerAddress[$i]['city'].",";?> 
                                        </div>

                                         <div class="region">
                                            <?php echo $customerAddress[$i]['region'].","; ?>
                                        </div>
                                        
                                        <div class="country">
                                             <?php $country_id=$customerAddress[$i]['country_id'];
                                                    $countryname=$helperData->getCountryName($country_id);
                                                    echo $countryname."."; ?>
                                        </div>
                                   
                                        <div class="postcode">
                                            <?php echo $customerAddress[$i]['postcode'];?>
                                        </div>
                                        <div class="telephone">
                                           <?php echo "ph-".$customerAddress[$i]['telephone'];?>
                                        </div>
                                    </div>
                                </div>    
                             </div>
                       <?php $i++; 
                            // }
                        }?>
                    
                </div>
            </div>
            <div class="AddingAddress" id="AddingAddress">
                <a href="#" data-mage-init='{"myjs": {}}'  id="create_address" data-toggle="modal"
                                        data-target="#myModal">
                    <img src="<?php echo $this->getViewFileUrl('Aspl_Rmasystem::images/adding.png'); ?>" width="50px" height=40px />
                </a>
            </div>
        </div>
    </div>
      <div class="modalfade" id="newCustomerAddress" role="dialog" style="display:none;">
        <div class="newCustomerAddress">
            <h4 class="modaltitle"><?php echo __('Create Address')?></h4>
            <h4 class=" updateAddress"><?php echo __('Update Address')?></h4>
            <?php $addressSave = $block->getLayout()->createBlock(\Aspl\Rmasystem\Block\Address\Edit::class)?>
            <?php $_region = $this->getLayout()->createBlock(\Magento\Directory\Block\Data::class) ?>
                   
            <form class="addressform" id="addressform" method="post" action="<?= $addressSave->getSaveUrl(); ?>" id="form-validate" enctype="multipart/form-data" data-hasrequired="<?php echo '* Required Fields'; ?>">
      
                <input type="hidden" name="id" id="editaddressId" value="">
                <input type="hidden" name="success_url" value="<?= $escaper->escapeUrl($addressSave->getSuccessUrl()) ?>">
                <input type="hidden" name="error_url" value="<?= $escaper->escapeUrl($addressSave->getErrorUrl()) ?>">
                <label for="firstname">First name</label><br>
                <input type="text" name="firstname" id="firstname"  value="" size="50" ><br><br>
                <label for="lastname">Last name</label><br>
                <input type="text" name="lastname" id="lastname" value="" ><br><br>
                <label for="ph_no">Phone Number</label><br>
                <input type="text" name="telephone" id="ph_no" value=""  ><br><br>

                <label for="lname">Street Address</label><br>
                <input type="text" name="street[]" id="street_address" required="true"><br><br> 
               <!--  <input type="text" name="street[]" id="street_address1"><br><br> -->
          
                <div class="field country required">
                    <label class="label" for="country"><span><?php /* @escapeNotVerified */ echo __('Country') ?></span></label>
                    <div class="control">
                        <?php   echo $countryList; ?>
                    </div>
                </div>
                <div class="field region ">
                    <label class="label" for="region"><span><?php  echo __('State') ?></span></label>
                    <div class="control">
                        <?php 
                        echo $regionList;
                        ?>
                    </div>
                </div>
                <input type="hidden" name="region" id="customregion">
                <input type="hidden" name="region_id" id="customregion_Id">
                <label for="city">City</label><br>
                <input type="text" name="city" id="city" ><br><br>
                <label for="postcode">Zip/Postal code</label><br>
                <input type="text" name="postcode" id="postal_code" ><br><br>
                <div class="checkbox">
                    <input type="submit" class="createbutton" id="createbutton" name="createbutton" value="save" >
                     <input type="submit" class="updatebutton" name="addressbook" value="update" >  
                </div>
            </form>
        </div>
    </div>

<style>
input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
   
}
input[class="multishipping"]:checked + label:before {
  content: "✔";
  font-family: 'lucida grande';
  font-size: 35px;
  line-height: 30px;
  text-align: center;
  color: green;
}

.multishipping {
    visibility: true;
}
span#defaultAddress {
    color: red;
}
.selecticon {
margin-left: 100px;

}
.row {
  border-radius: 25px;
  border: 4px solid #808080;
  padding: 5px; 
  width: 190px;
  height: 190px;  
}
.newAddress img {
    max-width: 100%;
    height: 90px;
    border: 1px;
    width: 80px;
    color: gray;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.columnAddress {
  float: left;
  padding: 5px;
}
.newAddress{
    float: left;
    width: 205;
    padding: 25px;

}
</style>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function($){

        var dataForm = $('#save_rma_form');
        dataForm.mage('validation', {});
            
        $('body').on('click','#wk_rma_button_submit', function() {
            if (dataForm.valid()!=false) {
                $(this).attr('disabled','disabled');
            }
        });


        var rma_prod = [];
        $('body').on('click','.wk_rma_pro_check',function(){
            let rma_product_type = $(this).data('product_type');
            if($(this).is(":checked")){
                rma_prod.push(rma_product_type);
            }else{
                var i = rma_prod.indexOf(rma_product_type);
                if(i != -1) {
                    rma_prod.splice(i, 1);
                }
            }
            if(rma_prod.indexOf("simple") > -1 ||  rma_prod.indexOf("configurable") > -1) {
                $('.wk-delivery').css('display','block');
            } else {
                $('.wk-delivery').css('display','none');
            }
        });
       
        $('body').on('click','#all_select',function(){
            if($(this).is(":checked")){
                $('.wk_rma_pro_check').each(function(){
                   var product_type =  $(this).data('product_type');
                   rma_prod.push(product_type);
                });
                if(rma_prod.indexOf("simple") > -1 ||  rma_prod.indexOf("configurable") > -1) {
                    $('.wk-delivery').css('display','block');
                } else {
                    $('.wk-delivery').css('display','none');
                }
            } else {
                rma_prod = [];
                $('.wk-delivery').css('display','block');
            }
        });

    });
</script>
<script>
    require([
        'mage/url',
        'Magento_Ui/js/block-loader'
    ], function(url, blockLoader) {
        blockLoader("<?= /* @noEscape */ $block->getViewFileUrl('images/loader-1.gif') ?>");
        return url.setBaseUrl('<?= /* @noEscape */ $block->getBaseUrl() ?>');

    }) 
</script>
<script>
      require(
        [
            'jquery',
            'Magento_Ui/js/modal/modal',
             'mage/mage',
            "mage/calendar"
        ],
        function(
            $,
            modal
        ) {
            var options = {
                type: 'popup',
                responsive: true,
                innerScroll: true

            };

             $('body').on('click','.shippingicon', function() {
                
                $("#multishipment").modal(options).modal('openModal');
            });
              $(document).on('change','#state',function() {
                var region_Id = $('#state :selected').val();
                var region_Name = $('#state :selected').text();
                $("#customregion").val(region_Name);
                $("#customregion_Id").val(region_Id);
            });
              
               $('body').on('click','.AddingAddress', function() {

                    $(".createbutton").show();
                  
                    $(".updatebutton").hide();

                    $(".modaltitle").show();
                  
                    $(".updateAddress").hide();

                $("#newCustomerAddress").modal(options).modal('openModal');
                   
            });
         
         
        $(document).on('change','#country',function() 
           {
                
            if(document.getElementById('states'))
                {
                    document.getElementById('states').value = '';
                }
             if(document.getElementById('state'))
                {
                    document.getElementById('state').value = '';
                }
            var param = 'country='+$('#country').val();
             $.ajax({
                             url: '<?php /* @escapeNotVerified */ echo $helperData->getCountryAction(); ?>',
                             data: param,
                             type: "GET",
                             dataType: 'json'
                        }).done(function (data) {

                            if(data.value=='')
                                {
                                     $('.field.states.required').show();
                                     $('.field.region.required').hide();
                                }
                                 else
                                {
                                    $('.field.states.required').hide();
                                    $('.field.region.required').show();
                                    $('#state').empty().append(data.value);
                                }
                        });
            });

             $('body').on('click','.columnAddress', function() {
                    var shippingId = ($(this).attr("id"));
                    var id= shippingId.split('_');
                       // alert(id[1]);
                       // die();
                    // var id=$("#multishipping_"+id[1]).val()
                    $("#multishipping_"+id[1]).attr("checked","checked");

                    var baseUrl= '<?php echo $urlBuilder."rmasystem/index/addressById" ?>';
                    var addressid = {
                                         "id":id[2]
                                        }; 

                        $.ajax({
                            type: "POST",
                            url: baseUrl,
                            data:addressid,
                            success: function(response){

                                 console.log(response)
                                 // die();
                                $( "#wk_rma_address").val(response[0]['editaddressId']); 
                                  // console.log(response)
                                    
                                },
                             dataType: "json"
                            });
                        
                });
        });       
</script>

<!-- <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>
 jQuery(document).ready(function() {
           
                var min =new Date();
                min.setDate(min.getDate() + 1);
                
                $('#pickupDate').calendar({
                dateFormat: "Y-m-d",
                singleClick : true,
                minDate: min
               
             });
            });



</script> -->