    <?php $rma = $block->getRmaDetail();
    $id = $rma->getRmaId();
    $order = $block->getOrder($rma->getOrderId());
    $helper = $block->getHelper();
    ?>
    <div class="page-title">
        <h1><?= /* @noEscape */ __("RMA Details"); ?>
            <span style="float:right;">#<?= /* @noEscape */ $rma->getIncrementId()."-".$id; ?></span>
        </h1>
    </div>
    <div class="dashboard">
        <div class="box-account box-info wk_rma_bigbox">
            <div class="block block-dashboard-info">
                <div class="block-content">
                    <div class="box box-information">
                        <div class="box-title">
                            <h3><?= /* @noEscape */ __("Order Id"); ?></h3>
                        </div>
                        <div class="box-content">
                            <p><a href="<?= /* @noEscape */ $block->getUrl('sales/order/view/').'order_id/'.$rma->getOrderId(); ?>">#<?= /* @noEscape */ $rma->getIncrementId();?></a></p>
                        </div>
                    </div>

                <div class="box box-newsletter">
                    <div class="box">
                                    <div class="box-title">
                            <h3><?= /* @noEscape */ __("RMA Status"); ?></h3>
                        </div>
                        <div class="box-content">
                            <p style="display:inline;margin-left:10px;">
                                                <?= /* @noEscape */ "<strong class='wk_rma_status_pending'>".$helper->getRmaStatusTitle($rma->getStatus())."</strong>";?>
                            </p>
                        </div>
                                    <div class="box-title">
                            <h3><?= /* @noEscape */ __("Order Status"); ?></h3>
                        </div>
                        <div class="box-content">
                            <p style="display:inline;margin-left:10px;">
                                                <?= /* @noEscape */ "<strong class='wk_rma_status_pending'>".$helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus())."</strong>";?>
                            </p>
                        </div>
                    </div>
                </div>
                </div>
           <!--  </div> -->
            <!-- <div class="block block-dashboard-info"> -->
                <div class="block-content">
                        <?php if (!$rma->getResolutionType()==3): ?>
                    <div class="box box-information">
                        <div class="box-title">
                            <h3><?= /* @noEscape */ __("Package Condition"); ?></h3>
                        </div>
                        <div class="box-content">
                                        <?php if ($rma->getPackageCondition() == 0) {
                                           /*@noEscape */ echo "<p>".__("Open")."</p>";
                                        } else {
                                           /*@noEscape */ echo "<p>".__("Packed")."</p>";
                                        }?>
                        </div>
                    </div>
                        <?php endif; ?>
                    <div class="box box-newsletter">
                        <div class="box">
                            <div class="box-title">
                                <h3><?= /* @noEscape */ __("Resolution Type"); ?></h3>
                            </div>
                            <div class="box-content">
                                            <?php if ($rma->getResolutionType() == 0) {
                                                   /*@noEscape */ echo "<p>".__("Refund")."</p>";
                                            } elseif ($rma->getResolutionType() == 1) {
                                               /*@noEscape */ echo "<p>".__("Exchange")."</p>";
                                            } else {
                                               /*@noEscape */ echo "<p>".__("Cancel Item")."</p>";
                                            }?>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- </div> -->
            <!-- <div class="block block-dashboard-info"> -->
                <div class="block-content">
                    <div class="box box-information">
                        <div class="box-title">
                            <h3><?= /* @noEscape */ __("Created On"); ?></h3>
                        </div>
                        <div class="box-content">
                            <p><?= /* @noEscape */ $block->getTimeAccordingToTime(($rma->getCreatedAt())); ?></p>
                        </div>
                    </div>

                    <div class="box box-newsletter">
                        <div class="box">
                            <div class="box-title">
                                <h3><?= /* @noEscape */ __("Additional Information"); ?></h3>
                            </div>
                            <div class="box-content">
                                <p><?= /* @noEscape */ nl2br(strip_tags($rma->getAdditionalInfo())); ?></p>
                            </div>
                        </div>
                    </div>
                 </div>
            <div class="block-content">
                    <?php if (!$rma->getResolutionType()==3): ?>
                    <div class="box box-information">
                    <div class="box">
                        <div class="box-title">
                            <h3><?= /* @noEscape */ __("Your Consignment Number"); ?></h3>
                        </div>
                        <div class="box-content">
                            <?= /* @noEscape */ $rma->getCustomerConsignmentNo(); ?>
                        </div>
                    </div>
                </div>
                    <?php endif; ?>
<?php           if ($rma->getResolutionType() == 1) {                   ?>
                <div class="box box-newsletter">
                    <div class="box">
                        <div class="box-title">
                            <h3><?= /* @noEscape */ __("Admin Consignment Number"); ?></h3>
                        </div>
                        <div class="box-content">
                            <p><?= /* @noEscape */ $rma->getAdminConsignmentNo(); ?></p>
                        </div>
                    </div>
                </div>
<?php           }                                                                                                   ?>
            </div>
          </div>
            <?= /* @noEscape */ $block->getChildHtml('rma.printrma.fieldvalue'); ?>

            <div class="col2-set">
                <div class="wk_rma_images_holder">
                    <div class="box-title">
                        <h3><?= /* @noEscape */ __("Additional Image(s)"); ?></h3>
                    </div>
                    <div class="box-content">
                        <div id="wk_rma_add_images_container">
                                        <?php
                                            $images = $block->getImages();
                                        foreach ($images as $filename) {
                                            $getfilename = explode("/", $filename);
                                            $justfname = $block->getBaseUrl()."/".end($getfilename);
                                           /*@noEscape */ echo "<img class='wk_rma_add_images' alt='image' src='".$justfname."'/>";
                                        }                                                                                       ?>
                                    </div>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="table-caption"><?= /* @noEscape */ __("Item(s) Requested for RMA"); ?></h2>
            <div class="admin__table-wrapper table-wrapper">
            <table id="shipping_table" class="data table">
                    <thead>
                            <tr>
                                    <th scope="col" class="col name"><?= /* @noEscape */ __("Product Name"); ?></th>
                                    <th scope="col" class="col sku"><?= /* @noEscape */ __("SKU"); ?></th>
                                    <th scope="col" class="col qty"><?= /* @noEscape */ __("Return Qty"); ?></th>
                                    <th scope="col" class="col reason"><?= /* @noEscape */ __("Reason"); ?></th>
                                    <th scope="col" class="col price"><?= /* @noEscape */ __("Product Price"); ?></th>
                            </tr>
                    </thead>
    <?php   $orderItems = $block->getItemCollection($id);
    foreach ($orderItems as $item) {
        $mageItem = $block->getSalesOrderItemDetail($item->getItemId());
        $product = $block->getProductDetail($mageItem->getProductId());
        $image_url = $block->imageHelperObj()->init($product, 'product_page_image_small')
                                                                    ->setImageFile($product->getFile())
                                                                    ->getUrl();
        $reason = $block->getReason($item->getReasonId())->getReason();
        if (!$reason) {
            $reason = $item->getRmaReason();
        }
        ?>
            <tbody>
                        <tr class="border">
                            <td data-th="<?= /* @noEscape */ __('Item Name') ?>" class="col name">
                                <div class="wk-pro-divide1">
                                    <img src="<?= /* @noEscape */ $image_url?>" class="image" />
                                </div>
                                <div class="wk-pro-divide2">
                                    <?= /* @noEscape */ $product->getName();?>
                                </div>
                            </td>
                            <td data-th="<?= /* @noEscape */ __('Item SKU') ?>" class="col name"><?= /* @noEscape */ $mageItem->getSku(); ?></td>
                            <td data-th="<?= /* @noEscape */ __('Returned Qty') ?>" class="col name"><?= /* @noEscape */ $item->getQty(); ?></td>
                            <td data-th="<?= /* @noEscape */ __('Reason') ?>" class="col name"><?= /* @noEscape */ $reason; ?></td>
                            <td data-th="<?= /* @noEscape */ __('Price') ?>" class="col name"><?= /* @noEscape */ $order->formatPrice($mageItem->getPrice()); ?></td>
                         </tr>
             </tbody>
    <?php   }                                                                                                           ?>
            </table>
            </div>
    </div>
    <div id="wk_rma_conversation_container">
<?=  /* @noEscape */ $block->getPagerHtml();
        $collection = $block->getRmaCollection($id);
        $customer_id = $block->getCustomerId();
foreach ($collection as $eachconver) {                                                                      ?>
            <div class="wk_rma_onereply">
                <span class="wk_rma_onereply_head <?php if ($eachconver->getSender() == $customer_id) {
                   /*@noEscape */ echo "wk_rma_onereply_customer";
                                                  }?>">
                    <span class="wk_rma_onereply_head_left"><?= /* @noEscape */ $block->getTimeAccordingToTime(($eachconver->getCreatedAt())); ?></span>
                    <span class="wk_rma_onereply_head_right"><?php if ($eachconver->getSender() == $customer_id) {
                       /*@noEscape */ echo __("Me");
                                                             } else {
                                                                /*@noEscape */ echo __("Admin");
                                                             } ?></span>
                </span>
                <p class="wk_rma_onereply_cntnt"><?= /* @noEscape */ nl2br(strip_tags($eachconver->getMessage())); ?></p>
            </div>
<?php   }                                                                                                           ?>
    </div>
<script>
require([
        "jquery",
        "mage/mage",
        'mage/calendar'
    ], function($){
            'use strict';
            window.print();
        });
</script>
