<?php
$rma = $block->getRmaDetail();
$helper = $block->getHelper();
$id = $rma->getRmaId();
$fieldData = $helper->getFieldData($id);

foreach ($fieldData as $field) { ?>
    <tr>
        <th><label class="customfield"><?=  /* @noEscape */ $field->getLabel(); ?></label></th>
        <?php if (($field->getInputType()=='checkbox') || ($field->getInputType()=='multiselect')) { ?>
            <td>
            <?php
            $check = false;
            $vl = explode(",", $field->getValue());
            $op = $field->getSelectOption();
            $op = explode(",", $op);
            foreach ($op as $key) {
                $val = explode('=>', $key);
                if (in_array($val[0], $vl)) {
                    if (!$check) {
                      /* @noEscape */   echo $val[1];
                    } else {
                       /* @noEscape */ echo ', '.$val[1];
                    }
                    $check = true;
                }
            }
            ?> </td> <?php
        } elseif (($field->getInputType()=='radio') || ($field->getInputType()=='select')) { ?>
            <td>
            <?php
            $vl = $field->getValue();
            $op = $field->getSelectOption();
            $op = explode(",", $op);
            foreach ($op as $key) {
                $val = explode('=>', $key);
                if ($val[0]==$vl) {
                  /* @noEscape */   echo $val[1];
                }
            }
            ?> </td> <?php
        } else { ?>
            <td><?=  /* @noEscape */ $block->escapeHtml($field->getValue()); ?></td>
        <?php } ?>
    </tr>
<?php }

?>
<style>
.customfield{
    font-weight: 600;
}

</style>
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>
jQuery(document).ready(function(){
   // jQuery("#refund").change(function(){
        // var voucher_point = parseInt($(this).val());
        // var ava_point = parseInt(jQuery("#available-balance").val());
            // console.log("voucher_point"+voucher_point);
            // console.log("ava_point"+ava_point);
        //if(ava_point >= voucher_point){
    //         jQuery("#submit").prop('disabled', false);      
    //     }else{
    //         jQuery("#submit").prop('disabled', true);
    //     }
    // });
    
    jQuery("#refund").prop('disabled', true);

});

</script>
