<?php
$rma = $block->getRmaDetail();
 $helper = $block->getHelper();
$id = $rma->getRmaId();
$fieldData = $helper->getFieldData($id);
foreach ($fieldData as $field) { ?>
    <div class="block-content">
        <div class="box box-information">
            <div class="box-title">
                <h3><?= $block->escapeHtml($field->getLabel()); ?></h3>
            </div>
        
        <?php if (($field->getInputType()=='checkbox') || ($field->getInputType()=='multiselect')) { ?>
            <div class="box-content">
                <p>
                    <?php
                    $check = false;
                    $vl = explode(",", $field->getValue());
                    $op = $field->getSelectOption();
                    $op = explode(",", $op);
                    foreach ($op as $key) {
                        $val = explode('=>', $key);
                        if (in_array($val[0], $vl)) {
                            if (!$check) {
                            /* @noEscape */    echo $val[1];
                            } else {
                                /* @noEscape */  echo ', '.$val[1];
                            }
                            $check = true;
                        }
                    }
                    ?> </p>
            </div>
                <?php
        } elseif (($field->getInputType()=='radio') || ($field->getInputType()=='select')) { ?>
            <div class="box-content">
                <p>
                <?php
                $vl = $field->getValue();
                $op = $field->getSelectOption();
                $op = explode(",", $op);
                foreach ($op as $key) {
                    $val = explode('=>', $key);
                    if ($val[0]==$vl) {
                      /* @noEscape */  echo $val[1];
                    }
                }
                ?> </p>
            </div>
                <?php
        } else { ?>
            <div class="box-content">
                <p><?= $block->escapeHtml($field->getValue()); ?></p>
            </div>
            
        <?php } ?>
        </div>
    </div>
<?php } ?>