<?php
/**
 * Aspl Software.
 *
 * @category  Aspl
 * @package   Aspl_Rmasystem
 * @author    Aspl Software Private Limited
 * @copyright Copyright (c)  Aspl Software Private Limited (https://Aspl.com)
 * @license   https://store.Aspl.com/license.html
 */
$rma = $block->getRmaDetail();
$id = $rma->getRmaId();
$helper = $block->getHelper();

$fieldData = $helper->getFieldData($id);
foreach ($fieldData as $field) { ?>
    <tr>
        <th><?= /* @noEscape */ $block->escapeHtml($field->getLabel()); ?></th>
        <?php if (($field->getInputType()=='checkbox') || ($field->getInputType()=='multiselect')) { ?>
            <td>
            <?php
            $check = false;
            $vl = explode(",", $field->getValue());
            $op = $field->getSelectOption();
            $op = explode(",", $op);
            foreach ($op as $key) {
                $val = explode('=>', $key);
                if (in_array($val[0], $vl)) {
                    if (!$check) {
                     /* @noEscape */   echo $val[1];
                    } else {
                        /* @noEscape */ echo ', '.$val[1];
                    }
                    $check = true;
                }
            }
            ?> </td> <?php
        } elseif (($field->getInputType()=='radio') || ($field->getInputType()=='select')) { ?>
            <td>
            <?php
            $vl = $field->getValue();
            $op = $field->getSelectOption();
            $op = explode(",", $op);
            foreach ($op as $key) {
                $val = explode('=>', $key);
                if ($val[0]==$vl) {
                 /* @noEscape */    echo $val[1];
                }
            }
            ?> </td> <?php
        } else { ?>
            <td><?= /* @noEscape */ $block->escapeHtml($field->getValue()); ?></td>
        <?php } ?>
    </tr>
<?php } ?>