<!--
 * Aspl Software.
 *
 * @category  Aspl
 * @package   Aspl_Rmasystem
 * @author    Aspl
 * @copyright Copyright (c) Aspl Software Private Limited (https://Aspl.com)
 * @license   https://store.Aspl.com/license.html
-->

<div class="thumbnail-preview" data-role="thumbnail-preview">
    <div class="thumbnail-preview-image-block">
        <img class="thumbnail-preview-image" src="<%- src %>" alt="<%- alt %>" />
    </div>
    <div class="thumbnail-preview-content">
        <a class="thumbnail-preview-link" target="_blank" href="<%- link %>">
            <%- linkText %>
        </a>
    </div>
</div>