
<?php $rma = $block->getRmaDetail();
$id = $rma->getRmaId();
 $helper = $block->getHelper();
$order = $block->getOrder($rma->getOrderId());
?>
<script>
    window.rmaData = <?= /* @noEscape*/ \Zend_Json::encode(['downloadUrl' => $block->getUrl('rmasystem/index/downloader/', ['_secure' => $block->getRequest()->isSecure(), 'id'=> $rma->getId()])]); ?>;
</script>
<div class="block">
    <div class="block-content">
        <form method="post" action="<?= /* @noEscape*/ $block->getUrl('rmasystem/guest/rmaupdate', ['_secure' => $block->getRequest()->isSecure()]); ?>" id="wk_rma_con_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
            <div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <script type="text/x-magento-init">
                    {
                            "#view-rma-component": {
                                    "Magento_Ui/js/core/app":  <?= /* @noEscape*/ $block->getJsLayout();?>
                            }
                    }
                    </script>
                        <div class="dashboard">
                            <fieldset class="fieldset info wk-mp-fieldset">
                            <?php
                            $orderItemsPro=$block->getItemCollection($id);
                            $wrong_product_type='';
                            if (count($orderItemsPro)==1) {
                                foreach ($orderItemsPro as $item_pro) {
                                    $item_pro_data=$block->getSalesOrderItemDetail($item_pro->getItemId());
                                    if ($item_pro_data->getProductType()=='downloadable' || $item_pro_data->getProductType()=='virtual') {
                                        $wrong_product_type='invalid';
                                    }
                                }
                            }
                            ?>
                            <legend class="legend">
                                <span><?= /* @noEscape*/ __('Guest RMA Details') ?></span>
                        <?php if ($rma->getShippingLabel() > 0 && $rma->getResolutionType() !== 0 && $wrong_product_type=='') {                                                           ?>
                                <a class="link-print" onclick="this.target='_blank';" href="<?= /* @noEscape*/ $block->getUrl('rmasystem/guest/printlabel/', ['_secure' => $block->getRequest()->isSecure(), 'id'=>$id]); ?>">
                                    <button class="button" title="<?= /* @noEscape*/ __('Print Shipping Label') ?>" type="button" style="float: right">
                                        <span><span><?= /* @noEscape*/ __('Print Shipping Label') ?></span></span>
                                    </button>
                                </a>&nbsp;|&nbsp;
                        <?php } ?>
                        <?php if ($rma->getStatus() != 0 && $rma->getStatus() != 4): ?>
                                <a class="link-print" onclick="this.target='_blank';" href="<?= /* @noEscape*/ $block->getUrl('rmasystem/guest/rmaprint/', ['_secure' => $block->getRequest()->isSecure(), 'id'=>$id]); ?>">
                                    <button class="button" title="<?= /* @noEscape*/ __('Print RMA') ?>" type="button" style="float: right; margin-right:1em;">
                                            <span><span><?= /* @noEscape*/ __('Print RMA') ?></span></span>
                                    </button>
                                </a>
                        <?php endif;    ?>
                                <a href="<?= /* @noEscape*/ $block->getUrl('rmasystem/guest/rmalist', ['_secure' => $block->getRequest()->isSecure()])?>">
                                    <button class="button back" title="<?= /* @noEscape*/ __('Back') ?>" type="button">
                                        <span><span><?= /* @noEscape*/ __('Back') ?></span></span>
                                    </button>
                                </a>
                            </legend>
                            <section class="admin__page-section order-view-account-information">
                                <div class="wk-box admin__page-section-item order-information">
                                    <div class="admin__page-section-content">
                                    <table class="admin__table-secondary order-information-table">
                                        <tbody>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Order Id"); ?></th>
                                                <td>#<?= /* @noEscape*/ $rma->getIncrementId();?></td>
                                            </tr>
                                            <?php if (!$rma->getResolutionType()==3): ?>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Package Condition"); ?></th>
                                                <td>
                                                    <?php if ($rma->getPackageCondition() == 0) {
                                                       /* @noEscape*/ echo "<p>".__("Open")."</p>";
                                                    } else {
                                                       /* @noEscape*/ echo "<p>".__("Packed")."</p>";
                                                    }?>
                                                </td>
                                            </tr>
                                            <?php endif; ?>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Created On"); ?></th>
                                                <td><p><?= /* @noEscape*/ $block->formatDate($rma->getCreatedAt(), \IntlDateFormatter::MEDIUM); ?></p></td>
                                            </tr>
                                            <?php if ($rma->getResolutionType() == 1 && $rma->getAdminConsignmentNo() != "") { ?>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Admin Consignment Number"); ?></th>
                                                <td><?= /* @noEscape*/ $rma->getAdminConsignmentNo(); ?></td>
                                            </tr>
                                            <?php } ?>
                                            <?php if ($rma->getResolutionType() != 3 && $rma->getStatus() != 2): ?>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Your Consignment Number"); ?></th>
                                                <td>
                                                    <div class="box-content">
                                                                    <input type="text" name="customer_consignment_no" value="<?= /* @noEscape*/ $rma->getCustomerConsignmentNo(); ?>"/>
                                                                </div>
                                                            </td>
                                            </tr>
                                            <?php endif; ?>
                                            <!-- custom field value -->
                                            <?= /* @noEscape*/ $block->getChildHtml('rma.viewrma.fieldvalue'); ?>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Upload Additional Image"); ?></th>
                                                <td style="width:45%;">
                                                        <div class="wk_rma_input_box image-field">
                                                            <button type="button" for="related_images" id="wk_rma_label_image" data-bind="click: addImageBlock">
                                                                    <span id="wk_rma_upload_icon"></span>
                                                                    <span id="wk_rma_upload_text"><?= /* @noEscape*/ __("Upload Images"); ?></span>
                                                            </button>
                                                            <input type="hidden" name="total_images" data-bind="value: totalImages"/>
                                                            <div class="control" id="image_block">
                                                            </div>
                                                            <script type="text/html" id="rmaImageTemplate">
                                                                <div class="wk-showcase-block">
                                                                        <div title="Delete Showcase" class="wk-delete-item" data-bind="click: deleteImage">x</div>
                                                                        <div class="wk-default-block"><?= /* @noEscape*/ __("Add Image") ?></div>
                                                                        <input type="file" name="related_images[]" accept="image/*" class="wk-showcase-img wk-no-display" data-bind="event:{change: fileSelect}">
                                                                </div>
                                                            </script>
                                         </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                                    <div class="wk-box admin__page-section-item order-account-information">
                                    <div class="admin__page-section-content">
                                        <table class="admin__table-secondary order-account-information-table">
                                        <tbody>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("RMA Status"); ?></th>
                                                <td>
                                                    <span>
                                                            <?= /* @noEscape*/ "<strong class='wk_rma_status_pending'>".$helper->getRmaStatusTitle($rma->getStatus())."</strong>";?>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Product Delivery Status"); ?></th>
                                                <td>
                                                    <span>
                                                            <?= /* @noEscape*/ "<strong class='wk_rma_status_pending'>".$helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus())."</strong>";?>
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Resolution Type"); ?></th>
                                                <td>
                                                    <?php if ($rma->getResolutionType() == 0) {
                                                       /* @noEscape*/ echo "<p>".__("Refund")."</p>";
                                                    } elseif ($rma->getResolutionType() == 1) {
                                                       /* @noEscape*/ echo "<p>".__("Exchange")."</p>";
                                                    } else {
                                                       /* @noEscape*/ echo "<p>".__("Cancel Item")."</p>";
                                                    }?>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th><?= /* @noEscape*/ __("Additional Information"); ?></th>
                                                <td><p><?= /* @noEscape*/ nl2br(strip_tags($rma->getAdditionalInfo())); ?></p></td>
                                            </tr>
                                            <tr>
                                                <th><h3><?= /* @noEscape*/ __("Additional Image(s)"); ?></h3></th>
                                                <td>
                                                    <div id="wk_rma_add_images_container">
                                                <?php
                                                    $images = $block->getImages();
                                                foreach ($images as $filename) {
                                                    $getfilename = explode("/", $filename);
                                                    $justfname = $block->getBaseUrl()."/".end($getfilename);
                                                   /* @noEscape*/ echo "<img class='wk_rma_add_images' alt='".end($getfilename)."' src='".$justfname."'/>";
                                                }                                                                                       ?>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </div>
                                </div>
                            </section>
                            <section class="admin__page-section">
                                <div class="admin__page-section-title" style="clear:both">
                                    <span class="title"><?= /* @noEscape*/ __("Item(s) Requested for RMA"); ?></span>
                                </div>
                                    <div class="admin__table-wrapper table-wrapper">
                                    <table id="shipping_table" class="data table">
                                        <thead>
                                                <tr>
                                                        <th scope="col" class="col name"><?= /* @noEscape*/ __("Product Name"); ?></th>
                                                        <th scope="col" class="col sku"><?= /* @noEscape*/ __("SKU"); ?></th>
                                                        <th scope="col" class="col qty"><?= /* @noEscape*/ __("Return Qty"); ?></th>
                                                        <th scope="col" class="col reason"><?= /* @noEscape*/ __("Reason"); ?></th>
                                                        <th scope="col" class="col price"><?= /* @noEscape*/ __("Product Price"); ?></th>
                                                </tr>
                                        </thead>
                        <?php   $orderItems = $block->getItemCollection($id);
                                $download_count=count($orderItems);
                                $download=0;
                        foreach ($orderItems as $item) {
                            $mageItem = $block->getSalesOrderItemDetail($item->getItemId());
                            $product = $block->getProductDetail($mageItem->getProductId());
                            $reason = $block->getReason($item->getReasonId())->getReason();
                            if (!$reason) {
                                $reason = $item->getRmaReason();
                            }
                            if ($product) {
                                $image_url = $block->imageHelperObj()->init($product, 'product_page_image_small')
                                                                                        ->setImageFile($product->getFile())
                                                                                        ->getUrl();
                            }
                                    
                            ?>
                                <tbody>
                                            <tr class="border">
                                                <td data-th="<?= /* @noEscape*/ __('Item Name') ?>" class="col name">
                                                    <div class="wk-pro-divide1">
                                                    <?php if ($product) { ?>
                                                                <img src="<?= /* @noEscape*/ $image_url?>" class="image" />
                                                    <?php } ?>
                                                    </div>
                                                    <div class="wk-pro-divide2">
                                                        <?= /* @noEscape*/ $mageItem->getName();?>
                                                    </div>
                                                </td>
                                                <td data-th="<?= /* @noEscape*/ __('Item SKU') ?>" class="col name"><?= /* @noEscape*/ $mageItem->getSku(); ?></td>
                                                <td data-th="<?= /* @noEscape*/ __('Returned Qty') ?>" class="col name"><?= /* @noEscape*/ $item->getQty(); ?></td>
                                                <td data-th="<?= /* @noEscape*/ __('Reason') ?>" class="col name"><?= /* @noEscape*/ $reason; ?></td>
                                                <td data-th="<?= /* @noEscape*/ __('Price') ?>" class="col name"><?= /* @noEscape*/ $order->formatPrice($mageItem->getPrice()); ?></td>
                                             </tr>
                                 </tbody>
                        <?php } ?>
                                        </table>
                                        </div>
                            </section>
                        </div>
                            <div id="wk_rma_conversation_container">
                                    <fieldset class="fieldset conversation-block">
                                        <h2 class="legend wk_rma_clear"><?= /* @noEscape*/ __("RMA History & Conversation"); ?></h2>
                                    <?php
                                            $collection = $block->getRmaCollection($id);
                                            $guest_data = $block->getGuestSession();
                                    foreach ($collection as $eachconver) {                                                                      ?>
                                                <div class="wk_rma_onereply">
                                                    <span class="wk_rma_onereply_head <?= /* @noEscape*/ $eachconver->getSender() == 'guest'? "wk_rma_onereply_customer":"wk_rma_onereply_admin";?>">
                                                        <span class="wk_rma_onereply_head_left"><?= /* @noEscape*/ $block->formatDate($rma->getCreatedAt(), \IntlDateFormatter::FULL); ?> | <?php if ($eachconver->getSender() == 'guest') {
                                                           /* @noEscape*/ echo __("You");
                                                                                                } else {
                                                                                                   /* @noEscape*/ echo __("Admin");
                                                                                                } ?></span>
                                                    </span>
                                                    <p class="wk_rma_onereply_cntnt <?= /* @noEscape*/ $eachconver->getSender() == 'default'?'admin':'customer' ?>">
                                                        <span><?= /* @noEscape*/ nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
                                                        <?php if ($eachconver->getAttachment() != '') { ?>
                                                            <a href="<?= /* @noEscape*/ $block->getUrl('rmasystem/index/downloader/', ['_secure' => $block->getRequest()->isSecure(), 'id'=> $rma->getId(), 'file_name' => $eachconver->getAttachment(), 'conv' => '1']) ?>" target="_blank">
                                                                <span class="wk-icon-attachment"></span>
                                                                <?= /* @noEscape*/ __('Download'); ?>
                                                            </a>
                                                        <?php } ?>
                                                    </p>
                                                    
                                                </div>
                                    <?php   }   ?>
                                    </fieldset>
                                    <input type="hidden" value="<?= /* @noEscape*/ $block->getFormKey(); ?>" name="form_key"/>
                                    <input type="hidden" value="<?= /* @noEscape*/ $id; ?>" name="rma_id"/>

                                    <!-- <ul class="form-list"> -->
                                    <fieldset class="fieldset login new-message-block" data-hasrequired="<?= /* @noEscape*/ __('* Required Fields') ?>">
                                        <h2 class="legend wk_rma_clear"><?= /* @noEscape*/ __("Send New Message"); ?></h2>
                                        <div class="field">
                                            <label class="label"><span><?= /* @noEscape*/ __("Enter Message"); ?>:</span><sup class="isrequired">*</sup></label>
                                            <div class="control">
                                                <textarea id="wk_rma_additional_info" class="required" name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="field">
                                            <label class="label"><span><?= /* @noEscape*/ __("Send Attachment"); ?>:</span></label>
                                            <div class="control">
                                                <input type="file" name="attachment" />
                                            </div>
                                        </div>
                                    <?php       if ($rma->getStatus() != 4 && $rma->getStatus() != 3 && $rma->getStatus() != 2) {                                                                       ?>
                                                    <div class="field">
                                                        <input type="checkbox" name="solved" id="wk_rma_solved"/>
                                                        <label class="label" for="wk_rma_solved"><span><?= /* @noEscape*/ __("Check to mark as solved"); ?></span></label>
                                                    </div>
                                    <?php       } elseif ($rma->getStatus() != 2) {                                                                                                 ?>
                                                    <div class="field">
                                                        <input type="checkbox" name="pending" id="wk_rma_pending"/>
                                                        <label class="label" for="wk_rma_solved"><span><?= /* @noEscape*/ __("Check to Reopen"); ?></span></label>
                                                     </div>
                                    <?php       }                                                                                                       ?>
                                                <!-- </ul> -->
                                                <div class="field">
                                                    <input type="checkbox" name="receive_email" id="wk_rma_email"/>
                                                    <label class="label" for="wk_rma_solved"><span><?= /* @noEscape*/ __("Check to receive email"); ?></span></label>
                                                </div>
                                                <div class="buttons-set">
                                                    <p class="required">* <?= /* @noEscape*/ __("Required Fields"); ?></p>
                                                    <button class="action updaterma primary" title="<?= /* @noEscape*/ __("Submit Request"); ?>" type="submit">
                                                        <span><?= /* @noEscape*/ __("Submit Request"); ?></span>
                                                    </button>
                                                </div>
                                                <a href="<?= /* @noEscape*/ $block->getUrl('rmasystem/guest/rmalist', ['_secure' => $block->getRequest()->isSecure()])?>">&laquo;<?= /* @noEscape*/ __("back"); ?></a>
                                            </div>
                                    </fieldset>
                    </div>
            </form>
        </div>
    </div>
<script type="text/javascript">
    require([
        'jquery',
        'mage/mage'
    ], function($) {

        var dataForm = $('#wk_rma_con_form');
        dataForm.mage('validation', {});

        $('body').on('click','.updaterma.button', function() {
            if (dataForm.valid() != false) {
                $(this).attr('disabled','disabled');
                $('#wk_rma_con_form').submit();
            }
        });
    });
</script>