<?php
/**
 * Aspl Software.
 *
 * @category  Aspl
 * @package   Aspl_Rmasystem
 * @author    Aspl
 * @copyright Copyright (c) Aspl Software Private Limited (https://Aspl.com)
 * @license   https://store.Aspl.com/license.html
 */

/** @var $block \Aspl\Rmasystem\Block\Index */
$helper = $block->getHelper();
?>
<fieldset class="fieldset info">
    <legend class="legend">
        <span><?= /* @noEscape */ __('All Rma List') ?></span>
        <div id="wk_rma_new_request">
            <a href="<?= /* @noEscape */ $block->getUrl("rmasystem/newrma/index", ['_secure' => $block->getRequest()->isSecure()]); ?>">
        <?= /* @noEscape */ __("Request New RMA"); ?>
            </a>
        </div>
    </legend>
    
    <button class="action primary filter-order" type="button" data-action="grid-filter-apply" style="margin-bottom:10px;">
        <span "<?= /* @noEscape */ __('Apply Filters'); ?>"><?= /* @noEscape */ __('Apply Filters'); ?></span>
    </button>
    <table class="data-table" id="rma-table">
        <thead class="wk_rma_sorter">
            <tr>
                   <th class="wk_rma_sortable">
                       <span class="wk_rma_table_title"><?= /* @noEscape */ __("Id"); ?></span>
                       <span data-attr="rma_id" class=""></span>
                   </th>
                <th class="wk_rma_sortable">
                    <span class="wk_rma_table_title"><?= /* @noEscape */ __("Order Id"); ?></span>
                    <span data-attr="order_id" class=""></span>
                </th>
                <th class="wk_rma_sortable">
                    <span class="wk_rma_table_title"><?= /* @noEscape */ __("RMA Status"); ?></span>
                    <span data-attr="status" class=""></span>
                </th>
                <th class="wk_rma_sortable">
                    <span class="wk_rma_table_title"><?= /* @noEscape */ __("Date"); ?></span>
                    <span data-attr="created_at" class=""></span>
                </th>
                <th class="a-right">
                    <span class="wk_rma_table_title"><?= /* @noEscape */ __("Action"); ?></span>
                </th>
            </tr>
        </thead>
            <thead class="wk_rma_filter">
                        <tr>
                                <?php $filter_data = $block->getFilterData();
                                        $isPending = "";
                                        $isProcessing = "";
                                        $isDeclined = "";
                                        $isSolved = "";
                                        $isCancelled = "";
                                if (isset($filter_data["status"])) {
                                    if ($filter_data["status"] == 0 && $filter_data["status"] !== "" && $filter_data["status"] !== null) {
                                        $isPending = "selected";
                                    } elseif ($filter_data["status"] == 1) {
                                            $isProcessing = "selected";
                                    } elseif ($filter_data["status"] == 3) {
                                            $isDeclined = "selected";
                                    } elseif ($filter_data["status"] == 2) {
                                            $isSolved = "selected";
                                    } elseif ($filter_data["status"] == 4) {
                                            $isCancelled = "selected";
                                    }
                                }
                                ?>
                                <th><input type="text" value="<?= /* @noEscape */ $block->escapeHtml(isset($filter_data["rma_id"])?$filter_data["rma_id"]:''); ?>" id="wk_rma_filter_rma_id" class="filter_input"/></th>
                                <th><input type="text" value="<?= /* @noEscape */ $block->escapeHtml(isset($filter_data["order_id"])?$filter_data["order_id"]:''); ?>" id="wk_rma_filter_order_id" class="filter_input"/></th>
                                <th>
                                    <select class="filter_select" id="wk_rma_filter_status">
                                            <option value="" ><?= /* @noEscape */ __('Select Status'); ?></option>
                                            <option value="0" <?= /* @noEscape */ $isPending ?>><?= /* @noEscape */ __("Pending") ?></option>
                                            <option value="1" <?= /* @noEscape */ $isProcessing; ?>><?= /* @noEscape */ __("Processing") ?></option>
                                            <option value="3" <?= /* @noEscape */ $isDeclined; ?>><?= /* @noEscape */ __("Declined") ?></option>
                                                <option value="2" <?= /* @noEscape */ $isSolved; ?>><?= /* @noEscape */ __("Solved") ?></option>
                                            <option value="4" <?= /* @noEscape */ $isCancelled; ?>><?= /* @noEscape */ __("Cancelled") ?></option>
                                    </select>
                            </th>
                                <th><input type="text" value="<?= /* @noEscape */ $block->escapeHtml(isset($filter_data["date"])?$filter_data["date"]:''); ?>" id="wk_rma_filter_date" class="filter_input"/></th>
                                <th></th>
                        </tr>
                </thead>
        <tbody>
<?php $collection = $block->getAllrma();
            $totalcount = count($collection);
if ($totalcount > 0) {
    foreach ($collection as $row) { ?>
                    <tr>
                        <td><?= /* @noEscape */ $row->getId(); ?></td>
                        <td><?= /* @noEscape */ $row->getIncrementId(); ?></td>
                        <td>
                                            <?= /* @noEscape */ "<strong class='wk_rma_status_".$helper->getRmaStatusClass($row->getStatus(), $row->getFinalStatus())."'>".$helper->getRmaStatusTitle($row->getStatus(), $row->getFinalStatus())."</strong>";?>
                        </td>
                        <td>
                          <?= /* @noEscape */ date("Y-m-d", $block->getTimestamp($row->getCreatedAt()));?>
                                    </td>
                        <td class="a-center last">
                            <span class="nobr">
                                <a href="<?= /* @noEscape */ $block->getUrl('rmasystem/viewrma/index', ['_secure' => $block->getRequest()->isSecure(), 'id'=>$row->getId()]); ?>"><?= /* @noEscape */ __("View"); ?></a>
                        <?php if (!in_array($row->getStatus(), [3, 2, 4])) {    ?>
                                                <span class="wk_separator">|</span>
                                                <a class="link-reorder cancel" href="<?= /* @noEscape */ $block->getUrl('rmasystem/cancelrma/index/', ['_secure' => $block->getRequest()->isSecure(), 'id'=>$row->getId()]); ?>"><?= /* @noEscape */ __("Cancel"); ?></a>
                                                <?php }    ?>
                                                </span>
                        </td>
                    </tr>
                <?php }
} elseif ((isset($filter_data["status"]) && $filter_data['status']!='') ||
(isset($filter_data["order_id"]) && $filter_data['order_id']!='')
 || (isset($filter_data["rma_id"]) && $filter_data['rma_id']!='') ||
 (isset($filter_data["order_id"]) && $filter_data['date']!='')) { ?>
                <tr class="first last">
                    <td colspan="5" class="a-center"><?= /* @noEscape */ __("No result found"); ?>.</td>
                </tr>
            <?php } else { ?>
                <tr class="first last">
                    <td colspan="5" class="a-center"><?= /* @noEscape */ __("You haven't filed any RMA yet"); ?>.</td>
                </tr>
    <?php }    ?>
        </tbody>
    </table>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?= /* @noEscape */ $block->getPagerHtml(); ?></div>
    <?php endif ?>
</fieldset>
    <?php
            $sorting_data = $block->getSortingSession();
            $optionData = [
                'sortingColumn'     => isset($sorting_data['attr'])?$sorting_data['attr']:'',
                'sortingDirection'  => isset($sorting_data['direction'])?$sorting_data['direction']:'',
                'orderTableSort'    => '#rma-table .wk_rma_sorter',
                'orderColumnSort'   => '#rma-table .wk_rma_sortable',
                'sortUrl'           => $block->getUrl('rmasystem/index/sorting', ['_secure' => $block->getRequest()->isSecure()]),
                'filterUrl'         => $block->getUrl('rmasystem/index/filter', ['_secure' => $block->getRequest()->isSecure()]),
                'filterColumn'      => '.filter-order',
                'cancelButton'      => '.cancel',
            ];
            $serializedData = $block->jsonHelper()->jsonEncode($optionData);
            ?>
    <script type="text/x-magento-init">
    {
        "*": {
            "rmaList": <?= /* @noEscape */  $serializedData; ?>
        }
    }
    </script>
