
<?php
/**
 * Aspl Software.
 *
 * @category  Aspl
 * @package   Aspl_Rmasystem
 * @author    Aspl Software Private Limited
 * @copyright Copyright (c)  Aspl Software Private Limited (https://Aspl.com)
 * @license   https://store.Aspl.com/license.html
 */
$rma = $block->getRmaDetail();


    $id = $rma->getRmaId();
    // echo $rma->getAdminstatus();
    // die();
    $order = $block->getOrder($rma->getOrderId());
   // echo $block->getRmaItemDetails($id);
   // die();
 $helper = $block->getHelper();
?>
 

<form method="post" action="<?= /* @noEscape */ $block->getUpdateUrl(); ?>" 
id="edit_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
    <!-- <fieldset class="fieldset admin__fieldset fieldset-wide"> -->
    <input type="hidden" value="<?= /* @noEscape */ $block->getFormKey() ?>" name="form_key"/>
    <input type="hidden" value="<?= /* @noEscape */ $id ?>" name="rma_id"/>
    <input type="hidden" value="<?= /* @noEscape */ $order->getId() ?>" name="order_id"/>
        <section class="admin__page-section order-view-account-information">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-content">
            <table class="admin__table-secondary order-information-table">
                <tbody>
                    <tr>
                        <th><?= /* @noEscape */ __("Order Id"); ?></th>
                        <td>
                            <a href="<?= /* @noEscape */ $block->getUrl('sales/order/view/', ['_secure' => $block->getRequest()->isSecure()]).'order_id/'.$rma->getOrderId(); ?>">#
                            <?= /* @noEscape */ $rma->getIncrementId();?>
                            </a>
                        </td>
                    </tr>
                    <?php if (!$rma->getResolutionType()==3): ?>
                    <tr>
                        <th><?= /* @noEscape */ __("Package Condition"); ?></th>
                        <td>
                            <?php if ($rma->getPackageCondition() == 0) {
                               /* @noEscape */ echo "<p>".__("Open")."</p>";
                            } else {
                               /* @noEscape */ echo "<p>".__("Packed")."</p>";
                            } ?>
                        </td>
                    </tr>
                    <?php endif; ?>
                    <tr>
                        <th><?= /* @noEscape */ __("Created On"); ?></th>
                        <td><p><?= /* @noEscape */ $block->formatDate(
                            $rma->getCreatedAt(),
                            \IntlDateFormatter::MEDIUM,
                            true
                        ); ?></p></td>
                    </tr>
                   <!--  <tr>
                        <th><?= /* @noEscape */ __("Customer Consignment Number"); ?></th>
                        <td><?= /* @noEscape */ $rma->getCustomerConsignmentNo(); ?></td>
                    </tr> -->
                    <!-- <tr>
                        <th><?= /* @noEscape */ __("Admin Consignment Number"); ?></th>
                        <td>
                            <input id="wk_rma_consignment_no" value="<?= /* @noEscape */ $rma->getAdminConsignmentNo(); ?>" 
                            type="text" name="admin_consignment_no" class="admin__control-text"/></td>
                    </tr> -->
                    <tr>
                        <th>
                            <h4><?= /* @noEscape */ __("Additional Image(s)"); ?></h4>
                            
                        </th>
                        <td>
                            <div id="wk_rma_add_images_container">
                        <?php
                            $images = $block->getImages();
                        foreach ($images as $filename) {
                            $getfilename = explode("/", $filename);
                            $justfname = $block->getBaseUrl()."/".end($getfilename);
                           /* @noEscape */ echo "<img class='wk_rma_add_images' alt='".end($getfilename)."' src='".$justfname."'/>";
                        }   ?>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
        </div>
            <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-content">
                <table class="admin__table-secondary order-account-information-table">
                <tbody>
                    <tr>
                        <th><?= /* @noEscape */ __("RMA Status"); ?></th>
                        <td>
                            <span>
                                    <?= /* @noEscape */ "<strong class='wk_rma_status_pending'>".$helper->getRmaStatusTitle($rma->getStatus())."</strong>";?>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <th><?= /* @noEscape */ __("Product Delivery Status"); ?></th>
                        <td>
                            <span>
                                    <?= /* @noEscape */ "<strong class='wk_rma_status_pending'>".$helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus())."</strong>";
    
                                    ?>
                            </span>
                        </td>
                    </tr>
                  <!--   <tr>
                        <th><?= /* @noEscape */ __("Resolution Type"); ?></th>
                        <td>
                            <?php  if ($rma->getResolutionType() == 0) {
                               /* @noEscape */ echo "<p>".__("Refund")."</p>";
                            } elseif ($rma->getResolutionType() == 1) {
                               /* @noEscape */ echo "<p>".__("Exchange")."</p>";
                            } else {
                               /* @noEscape */ echo "<p>".__("Cancel Item")."</p>";
                            }?>
                        </td>
                    </tr> -->
                    <tr>
                        <th><?= /* @noEscape */ __("Additional Information"); ?></th>
                        <td><p><?= /* @noEscape */ nl2br(strip_tags($rma->getAdditionalInfo())); ?></p></td>
                    </tr>
                    <tr>
                        <th><?= /* @noEscape */ __("Pickup Address"); ?></th>
                        <td><p><?= /* @noEscape */ nl2br(strip_tags($rma['pickupAddress'])); ?></p></td>
                    </tr>
                     <tr>
                        <th><?= /* @noEscape */ __("PickupDate"); ?></th>
                            <?php  $date=date_create($rma['pickupDate']);
                                    $dateFormat = date_format($date,"d/m/Y"); ?>
                        <td><p><?= /* @noEscape */ nl2br(strip_tags($dateFormat)); ?></p></td>
                    </tr>
                    <?php if ($rma->getResolutionType() == 1) {?>
                    <tr>
                        <th><?= /* @noEscape */ __("Admin Consignment Number"); ?></th>
                        <td><p><?= /* @noEscape */ $rma->getAdminConsignmentNo(); ?></p></td>
                    </tr>
                    <?php } ?>
                    <!-- custom field block -->
                  <!--  <input type="hidden" name="customfield" value="<?= print_r($block->getChildHtml('rma.allrma.customfield'));?>">
 -->

                    <?= /* @noEscape */ $block->getChildHtml('rma.allrma.customfield'); ?>
                </tbody>
            </table>
            </div>
        </div>
        </section>
            <div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <script type="text/x-magento-init">
                    {
                            "#view-rma-component": {
                                    "Magento_Ui/js/core/app":  <?= /* @noEscape */ /* @noEscape */ $block->getJsLayout();?>
                            }
                    }
                    </script>
                <section class="admin__page-section">
                <div class="admin__page-section-title" style="clear:both">
                    <span class="title"><?= /* @noEscape */ __("Item(s) Requested for RMA"); ?></span>
                </div>
                <div class="admin__table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th><?= /* @noEscape */ __("Product Name"); ?></th>
                            <th><?= /* @noEscape */ __("SKU"); ?></th>
                            <th class="a-right"><?= /* @noEscape */ __("Return Qty"); ?></th>
                            <th class="a-right"><?= /* @noEscape */ __("Reason"); ?></th>
                            <th class="a-right"><?= /* @noEscape */ __("Product Price"); ?></th>
                         <?php if ($rma->getResolutionType() == 0): ?>
                                            <th class="a-right"><?= /* @noEscape */ __("Refund Item"); ?></th>
                                            <th class="a-right"><?= /* @noEscape */ __("Add To Stock"); ?></th>
                                        <?php endif; ?>
                        </tr>
                    </thead>
                    <?php   $orderItems = $block->getItemCollection($id);
                                    $download_count=count($orderItems);
                                    $download=0;
                                    $itemIds = [];
                    foreach ($orderItems as $item) {
                        $itemIds[] = $item->getItemId();
                        $mageItem = $block->getSalesOrderItemDetail($item->getItemId());

                        $reason = $block->getReason($item->getReasonId())->getReason();
                        if (!$reason) {
                            $reason = $item->getRmaReason();
                        }
                        $isStockAdded =  $block->getIsStockAdded($item->getItemId());
                        ?>
                       <!--  <input type="hidden" 
                                                    name="walletamount"
                                                    value="<?= /* @noEscape */ $mageItem->getPrice(); ?>" /> -->
                                                    <input type="hidden" 
                                                    name="qty"
                                                    value="<?= /* @noEscape */ $item->getQty(); ?>" />
                        <tbody>
                            <tr class="border">
                                <td><h3 class="product-name"><?= /* @noEscape */ $mageItem->getName(); ?></h3></td>
                                <td><?= /* @noEscape */ $mageItem->getSku(); ?></td>
                                <td class="a-right"><?= /* @noEscape */ $item->getQty(); ?></td>
                                <td class="a-right"><?= /* @noEscape */ $reason; ?></td>
                                <td class="a-right"><?= /* @noEscape */ $order->formatPrice($mageItem->getPrice()); ?></td>
                                <?php
                                if ($rma->getResolutionType() == 0):
                                    if (!($rma->getAdminStatus() == 5 || $rma->getAdminStatus() == 6)
                                        && $block->canCreateCreditMemo($mageItem, $item->getQty())):
                                        
                                        $totalPrice = $mageItem->getPrice() * $item->getQty();
                                        ?>
                                        <td class="a-right">
                                            <div class="admin__field admin__field-option">
                                                    <input type="hidden" 
                                                    name="credit_memo_item[<?= /* @noEscape */ $mageItem->getId() ?>][price]" 
                                                    value="<?= /* @noEscape */ $mageItem->getPrice(); ?>" />
                                                    <input type="hidden" 
                                                    name="credit_memo_item[<?= /* @noEscape */ $mageItem->getId() ?>][qty]" 
                                                    value="<?= /* @noEscape */ $item->getQty(); ?>" />
                                                    <input 
                                                    name="credit_memo_item[<?= /* @noEscape */ $mageItem->getId() ?>][is_return]" 
                                                    type="checkbox" id="credit_memo_item" class="admin__control-checkbox"  
                                                    data-bind="event: {change: booleanValue}" value="0">
                                                    <label class="admin__field-label" for="history_visible"></label>
                                            </div>
                                        
                                        </td>
                                    <?php elseif ($rma->getAdminStatus() == 6): ?>
                                        <td class="a-right"><?= /* @noEscape */ __("Refunded"); ?></td>
                                    <?php elseif ($rma->getAdminStatus() == 5): ?>
                                        <td class="a-right"><?= /* @noEscape */ __("Declined"); ?></td>
                                    <?php endif; ?>
                                    <?php if ($isStockAdded) {?>
                                        <td class="a-right">
                                            <div class="admin__field admin__field-option">
                                                    <input type="hidden" 
                                                    name="add_to_stock[<?= /* @noEscape */ $mageItem->getId() ?>][qty]" 
                                                    value="<?= /* @noEscape */ $item->getQty(); ?>" />
                                                    <input 
                                                    name="add_to_stock[<?= /* @noEscape */ $mageItem->getId() ?>][is_add_to_stock]" 
                                                    type="checkbox" id="add_to_stock" class="admin__control-checkbox"  
                                                    value="1">
                                                    <label class="admin__field-label" for="history_visible"></label>
                                            </div>
                                         </td>
                                          <?php } else {?> 
                                        <td class="a-right">
                                            Stock Added
                                        </td>
                                    <?php }?>
                                <?php   endif; ?>
                            </tr>
                        </tbody>
                    <?php   } ?>
                </table>
                </div>
            </section>
            <!-- <div id="wk_rma_conversation_container">
                    <div class="conversation-block" style="float:left;width:40%;">
                        <div class="admin__page-section-item-title">
                <span class="title"><?= /* @noEscape */ __('RMA History & Conversation') ?></span>
            </div>
        
        <?php   $collection = $block->getConvsersationCollection($rma->getRmaId());
        if ($rma->getCustomerId() > 0) {

            $customer = $block->getCustomerDetail($rma->getCustomerId());
            $customerName = $customer->getFirstname()." ".$customer->getLastname();
        } else {
            $customerName = $rma->getGuestEmail()." (".__("Guest").")";
        }

        foreach ($collection as $eachconver) {  ?>
                    <div class="wk_rma_onereply">
                        <span class="wk_rma_onereply_head <?php if ($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') {
                           /* @noEscape */ echo "wk_rma_onereply_customer";
                                                          }?>">
                            <span class="wk_rma_onereply_head_left"><?= /* @noEscape */ $block->formatDate($eachconver->getCreatedAt(), \IntlDateFormatter::FULL); ?></span>
                                        <span class="wk_rma_onereply_head_right">
                                    <?php if ($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') {
                                               /* @noEscape */ echo __($customerName);
                                    } else {
                                       /* @noEscape */ echo __("Admin");
                                    } ?></span>
                        </span>
                        <?php if ($eachconver->getSender() == 'default'): ?>
                            <div class="wk_rma_onereply_cntnt admin">
                                <span><?= /* @noEscape */ nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
                                <?php if ($eachconver->getAttachment() != '') { ?>
                                    <a href="<?= /* @noEscape */ $block->getUrl('rmasystem/allrma/downloadfile/', ['_secure' => $block->getRequest()->isSecure(), 'id'=> $rma->getId(), 'file_name' => $eachconver->getAttachment(), 'conv' => '1']) ?>" target="_blank">
                                        <span class="wk-icon-attachment"></span>
                                        <?= /* @noEscape */ __('Download'); ?>
                                    </a>
                                <?php } ?>
                            </div>
                        <?php else: ?>
                                <p class="wk_rma_onereply_cntnt">
                                    <span><?= /* @noEscape */ nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
                                    <?php if ($eachconver->getAttachment() != '') { ?>
                                        <a href="<?= /* @noEscape */ $block->getUrl('rmasystem/allrma/downloadfile/', ['_secure' => $block->getRequest()->isSecure(), 'id'=> $rma->getId(), 'file_name' => $eachconver->getAttachment(), 'conv' => '1']) ?>" target="_blank">
                                            <span class="wk-icon-attachment"></span>
                                            <?= /* @noEscape */ __('Download'); ?>
                                        </a>
                                        
                                    <?php } ?>
                                </p>
                        <?php endif; ?>
                    </div>
        <?php   }   ?>
                    </div> -->
                    <fieldset class="fieldset admin__fieldset" style="width:50%;float:right;" data-hasrequired="<?= /* @noEscape */ /* @noEscape */ __('* Required Fields') ?>">
                               <!--  <div class="admin__field field field-reason">
                                    <label class="label admin__field-label" for="reason_reason"><span><?= /* @noEscape */ __('Enter Message'); ?> </span><sup class="isrequired"> * </sup></label>
                                        <div class="admin__field-control control">
                                            <textarea class="textarea admin__control-textarea required" name="message" id="reason" rows="2" cols="15"></textarea>
                                        </div>
                                </div> -->
                              <!--   <div class="admin__field field">
                                    <label class="label admin__field-label" for="attachment"><span><?= /* @noEscape */ __('Send Attachment'); ?></span></label>
                                    <div class="admin__field-control control">
                                        <input type="file" name="attachment" />
                                        <div>
                                            <span><?= /* @noEscape */ __("allowed file types"); ?>: <?= /* @noEscape */ $helper->getConfigData('file_attachment_extension');?></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="admin__field field">
                                    <label class="label admin__field-label" for="wk_rma_solved"><span><?= /* @noEscape */ __("Check to receive email"); ?></span></label>
                                    <div class="admin__field-control control">
                                        <input type="checkbox" name="receive_email" id="wk_rma_email"/>
                                    </div>
                                </div> -->
                            <?php if ($rma->getResolutionType() == 1) { ?>
                            <?php } ?>
                            <?php if ($rma->getFinalStatus() == 0): ?>
                                    <div class="admin__field field field-reason">
                                        <input type="hidden" name="item_ids" value="<?= /* @noEscape */ implode(',', $itemIds); ?>">
                                        <label class="label admin__field-label" for="reason_reason"><span><?= /* @noEscape */ __('Select Status'); ?></span></label>
                                        <div class="admin__field-control">
                                            <select class="required-entry _required select admin__control-select select_status"
                                             name="admin_status"
                                             class="admin__control-select"
                                             data-bind="event: {change: statusChange}, afterRender: onLoadStatusChange">
                                    <?php foreach ($block->getAllStatus($rma->getResolutionType()) as $key => $status): ?>
                                        <?php if ($rma->getAdminStatus() == $key): ?>
                                          <option value="<?= /* @noEscape */ $key;?>" selected><?= /* @noEscape */ __($status); ?></option>
                                        <?php else: ?>
                                          <option value="<?= /* @noEscape */ $key;?>"><?= /* @noEscape */ __($status); ?></option>
                                        <?php endif; ?>
                                    <?php endforeach; ?>
                              </select>
                                        </div>
                                    </div>
                            <?php endif; ?>
                            <?php if ($rma->getFinalStatus() == 0): ?>
                                <?php if ($rma->getResolutionType() == 0): ?>
                                 <!-- ko if: showPayment() > 0 -->
                                    <div class="admin__field field field-reason _required">
                                        <label class="label admin__field-label" for="reason_reason"><span><?= /* @noEscape */ __('Payment Type'); ?></span></label>
                                        <div class="admin__field-control">
                                            <select class="required-entry _required select admin__control-select select_status"
                                                    name="payment_type"
                                                    class="admin__control-select"
                                                    data-bind="options: paymentType,
                                                        optionsText: 'label',
                                                        optionsValue: 'value',
                                                        value: paymentTypeChange">
                                            </select>
                                        </div>
                                    </div>
                                    <!-- /ko -->
                            <?php endif; ?>
                            <?php endif; ?>
                            <!-- ko if: showPartialField() && showPayment() > 0 -->
                            <div class="admin__field field field-reason _required">
                                <label class="label admin__field-label" for="reason_reason"><span><?= /* @noEscape */ __('Partial Amount'); ?></span></label>
                                <div class="admin__field-control">
                                        <input id="refund_amount" type="text" name="refund_amount" class="required-entry validate-number validate-not-negative-number admin__control-text" style="width:50%"/>
                                </div>
                            </div>
                            <!-- /ko -->
                            <?php $collection = $block->getShippingLabelCollection();
                            if (count($collection) > 0) { ?>
                                <?php if ($rma->getResolutionType() == 1): ?>
                                    <div class="admin__field field ship_label">
                                        <input type="hidden" name="item_ids" value="<?= /* @noEscape */ implode(',', $itemIds); ?>">
                                        <label class="label admin__field-label" for="reason_reason"><span><?= /* @noEscape */ __("Select Shipping Label"); ?></span></label>
                                        <div class="admin__field-control">
                                            <?php foreach ($collection as $label) { ?>
                                                    <div class="shipping_label_each">
                                                        <label for="<?= /* @noEscape */ 'ra'.$label->getId(); ?>"><img src="<?= /* @noEscape */ $block->getLabelBaseUrl().$label->getFilename(); ?>"  class="shipping_label_img"/></label>
                                                        <input id="<?= /* @noEscape */ 'ra'.$label->getId(); ?>" type="radio" <?php if ($rma->getShippingLabel() == $label->getId()) {
                                                           /* @noEscape */ echo "checked";
                                                                   }?> name="shipping_label" value="<?= /* @noEscape */ $label->getId(); ?>" class="shipping_label"/>
                                                    </div>
                                            <?php } ?>

                                   </div>
                                    </div>
                                <?php endif; ?>
                            <?php } ?>
                        </div>
            </fieldset>
    </div>
</form>
<script>
    require([
        "jquery",
        'mage/template',
        'text!Aspl_Rmasystem/template/preview.html',
        'Magento_Ui/js/modal/modal',
        'mage/calendar',
    ], function($, mageTemplate, thumbnailPreviewTemplate){
        'use strict';
        var dataForm = $('#edit_form');
        dataForm.mage('validation', {});

        $('#save').on('click', function() {
            if (dataForm.valid()!=false) {
                $(this).attr('disabled','disabled');
                $('#edit_form').submit();
            }
        });

        $('.wk_rma_add_images').on('click',function(){
            var self = $(this);
            var modalHtml = mageTemplate(
                thumbnailPreviewTemplate,
                {
                    src: self.attr('src'), alt: self.attr('alt'), link: "<?= /* @noEscape */ $block->getUrl('rmasystem/allrma/downloadfile/', ['_secure' => $block->getRequest()->isSecure(), 'id'=> $rma->getId()]) ?>"+'file_name/'+self.attr('alt'),
                    linkText: $.mage.__('Download')
                }
            );
            var previewPopup = $('<div/>').html(modalHtml);
            previewPopup.modal({
                title: $.mage.__('RMA Image'),
                innerScroll: true,
                modalClass: '_image-box',
                buttons: []}).trigger('openModal');
        });
    });
</script>
