
<?php
/**
 * Aspl Software.
 *
 * @category  Aspl
 * @package   Aspl_Rmasystem
 * @author    Aspl Software Private Limited
 * @copyright Copyright (c)  Aspl Software Private Limited (https://Aspl.com)
 * @license   https://store.Aspl.com/license.html
 */
$rma = $block->getRmaDetail();
$getShippingLabel = $block->getShippingLabel();
$id = $rma->getRmaId();
$order = $block->getOrder($rma->getOrderId());
 $helper = $block->getHelper();

?>
<form method="post" action="<?= /* @noEscape */ $block->getUpdateUrl(); ?>" id="edit_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
    <!-- <fieldset class="fieldset admin__fieldset fieldset-wide"> -->
    <input type="hidden" value="<?= /* @noEscape */ $block->getFormKey() ?>" name="form_key" />
    <input type="hidden" value="<?= /* @noEscape */ $id ?>" name="rma_id" />
    <input type="hidden" value="<?= /* @noEscape */ $order->getId() ?>" name="order_id" />
    <section class="admin__page-section order-view-account-information">
        <div class="admin__page-section-item order-information">
            <div class="admin__page-section-content">
                <table class="admin__table-secondary order-information-table">
                    <tbody>
                        <tr>
                            <th><?= /* @noEscape */ __("Order Id"); ?></th>
                            <td><a href="<?= /* @noEscape */ $block->getUrl('sales/order/view/', ['_secure' => $block->getRequest()->isSecure()]) . 'order_id/' . $rma->getOrderId(); ?>">#<?= /* @noEscape */ $rma->getIncrementId(); ?></a></td>
                        </tr>
                        <?php if (!$rma->getResolutionType() == 3): ?>
                            <tr>
                                <th><?= /* @noEscape */ __("Package Condition"); ?></th>
                                <td>
                                    <?php if ($rma->getPackageCondition() == 0) {
                                       /* @noEscape */ echo "<p>" . __("Open") . "</p>";
                                    } else {
                                       /* @noEscape */ echo "<p>" . __("Packed") . "</p>";
                                    } ?>
                                </td>
                            </tr>
                        <?php endif; ?>
                        <tr>
                            <th><?= /* @noEscape */ __("Created On"); ?></th>
                            <td>
                                <p><?= /* @noEscape */ $block->getTimeAccordingToTime(($rma->getCreatedAt())); ?></p>
                            </td>
                        </tr>
                        <tr>
                            <th><?= /* @noEscape */ __("Customer Consignment Number"); ?></th>
                            <td><?= /* @noEscape */ $rma->getCustomerConsignmentNo(); ?></td>
                        </tr>
                        <tr>
                            <th><?= /* @noEscape */ __("Admin Consignment Number"); ?></th>
                            <td><?= /* @noEscape */ $rma->getAdminConsignmentNo(); ?></td>
                        </tr>
                        <tr>
                            <th>
                                <h3><?= /* @noEscape */ __("Additional Image(s)"); ?></h3>
                            </th>
                            <td>
                                <div id="wk_rma_add_images_container">
                                    <?php
                                    $images = $block->getImages();
                                    foreach ($images as $filename) {
                                        $getfilename = explode("/", $filename);
                                        $justfname = $block->getBaseUrl() . "/" . end($getfilename);
                                       /* @noEscape */ echo "<img class='wk_rma_add_images' alt='image' src='" . $justfname . "'/>";
                                    }   ?>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="admin__page-section-item order-account-information">
            <div class="admin__page-section-content">
                <table class="admin__table-secondary order-account-information-table">
                    <tbody>
                        <tr>
                            <th><?= /* @noEscape */ __("RMA Status"); ?></th>
                            <td>
                                <span>
                                    <?= /* @noEscape */ "<strong class='wk_rma_status_pending'>" . $helper->getRmaStatusTitle($rma->getStatus()) . "</strong>"; ?>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th><?= /* @noEscape */ __("Product Delivery Status"); ?></th>
                            <td>
                                <span>
                                    <?= /* @noEscape */ "<strong class='wk_rma_status_pending'>" . $helper->getRmaOrderStatusTitle($rma->getCustomerDeliveryStatus()) . "</strong>"; ?>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <th><?= /* @noEscape */ __("Resolution Type"); ?></th>
                            <td>
                                <?php if ($rma->getResolutionType() == 0) {
                                   /* @noEscape */ echo "<p>" . __("Refund") . "</p>";
                                } elseif ($rma->getResolutionType() == 1) {
                                   /* @noEscape */ echo "<p>" . __("Exchange") . "</p>";
                                } else {
                                   /* @noEscape */ echo "<p>" . __("Cancel Item") . "</p>";
                                } ?>
                            </td>
                        </tr>
                        <tr>
                            <th><?= /* @noEscape */ __("Additional Information"); ?></th>
                            <td>
                                <p><?= /* @noEscape */ nl2br(strip_tags($rma->getAdditionalInfo())); ?></p>
                            </td>
                        </tr>
                        <?php if ($rma->getResolutionType() == 1) { ?>
                            <tr>
                                <th><?= /* @noEscape */ __("Admin Consignment Number"); ?></th>
                                <td>
                                    <p><?= /* @noEscape */ $rma->getAdminConsignmentNo(); ?></p>
                                </td>
                            </tr>
                        <?php } ?>
                        <?= /* @noEscape */ $block->getChildHtml('rma.allrma.customfield'); ?>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <div id="view-rma-component" data-bind="scope:'view-rma-component'" class="field">
        <!-- ko template: getTemplate() -->
        <!-- /ko -->
        <script type="text/x-magento-init">
            {
                            "#view-rma-component": {
                                    "Magento_Ui/js/core/app":  <?= /* @noEscape */ $block->getJsLayout(); ?>
                            }
                    }
                    </script>
        <section class="admin__page-section">
            <div class="admin__page-section-title" style="clear:both">
                <span class="title"><?= /* @noEscape */ __("Item(s) Requested for RMA"); ?></span>
            </div>
            <div class="admin__table-wrapper">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th><?= /* @noEscape */ __("Product Name"); ?></th>
                            <th><?= /* @noEscape */ __("SKU"); ?></th>
                            <th class="a-right"><?= /* @noEscape */ __("Return Qty"); ?></th>
                            <th class="a-right"><?= /* @noEscape */ __("Reason"); ?></th>
                            <th class="a-right"><?= /* @noEscape */ __("Product Price"); ?></th>

                        </tr>
                    </thead>
                    <?php $orderItems = $block->getItemCollection($id);
                    $download_count = count($orderItems);
                    $download = 0;
                    $itemIds = [];
                    foreach ($orderItems as $item) {
                        $itemIds[] = $item->getItemId();
                        $mageItem = $block->getSalesOrderItemDetail($item->getItemId());
                        $product = $block->getProductDetail($mageItem->getProductId());
                        $reason = $block->getReason($item->getReasonId())->getReason();
                        if (!$reason) {
                            $reason = $item->getRmaReason();
                        }
                        if ($product->getTypeId() == 'downloadable' || $product->getTypeId() == 'virtual') {
                            $download++;
                        }
                        ?>
                        <tbody>
                            <tr class="border">
                                <td>
                                    <h3 class="product-name"><?= /* @noEscape */ $mageItem->getName(); ?></h3>
                                </td>
                                <td><?= /* @noEscape */ $mageItem->getSku(); ?></td>
                                <td class="a-right"><?= /* @noEscape */ $item->getQty(); ?></td>
                                <td class="a-right"><?= /* @noEscape */ $reason; ?></td>
                                <td class="a-right"><?= /* @noEscape */ $order->formatPrice($mageItem->getPrice()); ?></td>
                            </tr>
                        </tbody>
                    <?php   } ?>
                </table>
            </div>
        </section>
        <div id="wk_rma_conversation_container">
            <div class="conversation-block" style="float:left;width:40%;">
                <div class="admin__page-section-item-title">
                    <span class="title"><?= /* @noEscape */ __('RMA History & Conversation') ?></span>
                </div>
                <?php $collection = $block->getConvsersationCollection($rma->getRmaId());
                if ($rma->getCustomerId() > 0) {
                    $customer = $block->getCustomerDetail($rma->getCustomerId());
                    $customerName = $customer->getFirstname() . " " . $customer->getLastname();
                } else {
                    $customerName = $rma->getGuestEmail() . " (" . __("Guest") . ")";
                }
                foreach ($collection as $eachconver) {  ?>
                    <div class="wk_rma_onereply">
                        <span class="wk_rma_onereply_head <?php if ($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') {
                                                               /* @noEscape */ echo "wk_rma_onereply_customer";
                                                          } ?>">
                            <span class="wk_rma_onereply_head_left"><?= /* @noEscape */ $block->getTimeAccordingToTime($eachconver->getCreatedAt()); ?></span>
                            <span class="wk_rma_onereply_head_right">
                                <?php if ($eachconver->getSender() == 'customer' || $eachconver->getSender() == 'guest') {
                                   /* @noEscape */ echo __($customerName);
                                } else {
                                   /* @noEscape */ echo __("Admin");
                                } ?></span>
                        </span>
                        <?php if ($eachconver->getSender() == 'default'): ?>
                            <div class="wk_rma_onereply_cntnt"><?= /* @noEscape */ $eachconver->getMessage(); ?></div>
                        <?php else: ?>
                            <p class="wk_rma_onereply_cntnt">
                                <span><?= /* @noEscape */ nl2br(strip_tags($eachconver->getMessage())); ?></span></br>
                                <?php if ($eachconver->getAttachment() != '') { ?>
                                    <a target="_blank" href="<?= /* @noEscape */ $helper->getConversationUrl($id) . $eachconver->getAttachment() ?>"><?= /* @noEscape */ $eachconver->getAttachment() ?></a>
                                <?php } ?>
                            </p>
                        <?php endif; ?>
                    </div>
                <?php   }   ?>
            </div> 
            <?php if (!empty($getShippingLabel)):?>
            <fieldset class="fieldset admin__fieldset" style="width:50%;float:right;">    
                <div class="admin__field field ship_label">
                    <label class="label admin__field-label" for="reason_reason"><span><?= /* @noEscape */ __("Shipping Label"); ?></span></label>
                    <div class="admin__field-control">
                        <div class="shipping_label_each">
                            <label><img src="<?= /* @noEscape */ $getShippingLabel; ?>" class="shipping_label_img" /></label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <?php endif?>
        </div>
    </form>
<script>
    require([
        "jquery",
        "mage/mage",
        'mage/calendar'
    ], function($) {
        'use strict';
        window.print();
        $('.page-main-actions').remove();
    });
</script>